main {
    position: fixed;
    height: -webkit-fill-available;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
}