@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// color
$primaty-color: black;
$font-header: white;
$secondary: red;

// fonts

$logo: 'Montserrat', sans-serif;
$content: 'Roboto', sans-serif;